{% extends 'layout.html' %}
{% block scripts%}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}
{% block container %}
	<input type="hidden" id="name" value="{{name}}">
	<ul id="list">
		{% for message in messages %}
			<li>{{message['sender']}} said: {{message['message']}}</li>
		{% endfor %}
	</ul>
	<form id="form">
		<div class="form-group">
			<input type="text" id="message_text">
		</div>
		<input type="hidden" id="name" value="{{name}}">
		<input type="hidden" id="room" value="{{room}}">
		<button type="submit" id="submitForm">Send</button>
	</form>
{% endblock %}